<!--header section start-->
<div class="header-section">
  <div class="overlay"></div>
  <div class="container header-container">
    <div class="header">
      <div class="logo">
        auto.market
      </div>
      <ul class="navbar">
        <li class="nav-item active">Home</li>
        <li class="nav-item">Sell Car</li>
        <li class="nav-item">Buy Car</li>
        <li class="nav-item">Market</li>
        <li class="nav-item">Contact Us</li>
      </ul>
      <div class="action-section">
        <div><mat-icon aria-hidden="false" aria-label="Example home icon">directions_car</mat-icon></div>
        <div><mat-icon aria-hidden="false" aria-label="Example home icon">star_border</mat-icon></div>
        <div><mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon></div>
        <div><a href="#">Sign in</a></div>
        <div><button class="btn-primary">Sign Up</button></div>
      </div>
    </div>
    <div class="search-section">
      <div class="w-100">
        <div class="sub-title">Marketplace for buyers and sellers who love cars</div>
        <div class="main-title">Find your next car here</div>
      </div>
      <div class="select-inputs">
        <select name="location" class="location">
          <option value="toronto">Toronto (+100km)</option>
        </select>
        <select name="brand-model" class="brand-model">
          <option value="brand">Brand and model</option>
        </select>
        <select name="price" class="price">
          <option value="price">Max price</option>
        </select>
        <button class="btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>
<!--header section end-->

<!--market status section start-->
<div class="market-status-section container">
  <div class="market-status-section-title">Market status</div>
  <app-slider [data]="marketStatusItems"></app-slider>
</div>
<!--market status section start-->

<!--continue search section start-->
<div class="continue-search-section container">
    <div class="title">Continue your search</div>
    <p>All makes, +1 filter</p>
  <div class="cards-slider">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig1">
      <div ngxSlickItem *ngFor="let car of cars" class="slide">
        <div class="card">
          <img [src]="car.img" class="card-img" alt="Car">
          <div class="card-body">
            <div class="card-body-km">{{car.km}} km</div>
            <div class="card-body-price">$ {{car.price}}</div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<!--continue search section end-->

<!--best offers section start-->
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Most selling">
    <div class="container">
      <div class="cards-slider best-offers-slider">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig">
          <div ngxSlickItem *ngFor="let item of mostSelling" class="slide">
            <div class="card">
              <img [src]="item.img" class="card-img" alt="Car Model">
              <div class="card-body">
                <div class="card-body-year">{{item.year}}</div>
                <div class="card-body-model">{{item.model}}</div>
              </div>
              <div class="card-link">
                <a href="#">
                  <span>{{item.offer}} offers</span>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Best selling">
    <div class="container">
      <div class="cards-slider best-offers-slider">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig">
          <div ngxSlickItem *ngFor="let item of bestOffers" class="slide">
            <div class="card">
              <img [src]="item.img" class="card-img" alt="Car Model">
              <div class="card-body">
                <div class="card-body-year">{{ item.year }}</div>
                <div class="card-body-model">{{ item.model }}</div>
              </div>
              <div class="card-link">
                <a href="#">
                  <span>{{ item.offer }} offers</span>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Most visited">
    <div class="container">
      <div class="cards-slider best-offers-slider">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig">
          <div ngxSlickItem *ngFor="let item of mostVisited" class="slide">
            <div class="card">
              <img [src]="item.img" class="card-img" alt="Car Model">
              <div class="card-body">
                <div class="card-body-year">{{item.year}}</div>
                <div class="card-body-model">{{item.model}}</div>
              </div>
              <div class="card-link">
                <a href="#">
                  <span>{{item.offer}} offers</span>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<!--best offers section end-->

<!--body type section start-->
<div class="body-type-section container">
  <div class="body-type-heading">
    <div class="title">Browse by body type</div>
    <div><a href="#">See all ></a></div>
  </div>
  <div class="cards-slider">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig1">
      <div ngxSlickItem *ngFor="let el of carsBodyType" class="slide">
        <div class="card">
          <img [src]="el.img" class="card-img" alt="Car">
          <div class="card-body">
            <div class="card-body-type">{{el.carType}}</div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<!--body type section end-->

<!--popular section start-->
<div class="popular-section container">
  <div class="popular-section-heading">
    <div class="title">Most popular in Canada</div>
    <div>
      <select name="location">
        <option value="toronto">Toronto (+100km)</option>
      </select>
    </div>
  </div>
  <div class="cards-slider best-offers-slider">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
      <div ngxSlickItem *ngFor="let item of popularCars" class="slide">
        <div class="card">
          <img [src]="item.img" class="card-img" alt="Car Model">
          <div class="card-body">
            <div class="card-body-year">{{item.year}}</div>
            <div class="card-body-model">{{item.model}}</div>
          </div>
          <div class="card-link">
            <a href="#"> <span>{{item.offer}} offers</span>
              <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<!--popular section end-->

<!--popular makes section start-->
<div class="popular-makes-section body-type-section container">
  <div>
    <div class="title">Popular makes</div>
  </div>
  <div class="cards-slider">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig1">
      <div ngxSlickItem *ngFor="let m of marks" class="slide">
        <div class="card">
          <img [src]="m.img" class="card-img" alt="Car Model Logo">
          <div class="card-body">
            <div class="card-body-type">{{m.name}}</div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<!--popular makes section end-->

<div class="container">
  <div class="hr"></div>
</div>

<!--footer section start-->
<footer class="footer container">
  <div>
    <div class="logo">
      auto.market
    </div>
  </div>
  <div>
    <ul class="footer-navbar">
      <li class="nav-item">Home</li>
      <li class="nav-item">Sell Car</li>
      <li class="nav-item">Buy Car</li>
      <li class="nav-item">Dealers</li>
    </ul>
  </div>
  <div>
    <ul class="footer-navbar">
      <li class="nav-item">Trems of Use </li>
      <li class="nav-item">Privacy Policy</li>
      <li class="nav-item">Cookie Policy</li>
      <li class="nav-item">AdChoice</li>
    </ul>

  </div>
  <div>
    <ul class="footer-navbar">
      <li class="nav-item">Contact Us</li>
      <li class="nav-item">Careers</li>
      <li class="nav-item">Help</li>
      <li class="nav-item">FAQ</li>
    </ul>
  </div>
  <div class="play-market-logo">
    <div>
      <img src="../../assets/images/app-store-logo.png" alt="App Store logo">
    </div>
    <div>
      <img src="../../assets/images/google-play-logo.png" alt="App Store logo">
    </div>
    <div class="languages-select">
      <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="languages">
        <img src="../../assets/images/canada.png" alt="Canada flag" class="flag-img"> <span>English</span>
        <mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <img src="../../assets/images/france.png" alt="French flag" width="24" height="24" class="language-item">
          <span>French</span>
        </button>
        <button mat-menu-item>
          <img src="../../assets/images/arabic.png" alt="Arabic flag" width="24" height="24" class="language-item">
          <span>Arabic</span>
        </button>
      </mat-menu>
    </div>
  </div>
</footer>
<!--footer section end-->

<div class="rights container">
  <p>auto.market / 2000 - 2020. All rights reserved.</p>
</div>
