<div class="header-section">
  <div class="overlay"></div>
  <div class="container header-container">
    <div class="header">
      <div class="logo">
        auto.market
      </div>
      <ul class="navbar">
        <li class="nav-item active">Home</li>
        <li class="nav-item">Sell Car</li>
        <li class="nav-item">Buy Car</li>
        <li class="nav-item">Market</li>
        <li class="nav-item">Contact Us</li>
      </ul>
      <div class="action-section">
        Sign in
        <button class="btn-primary">Sign Up</button>
      </div>
    </div>
    <div class="search-section">
      <div class="w-100">
        <div class="sub-title">Marketplace for buyers and sellers who love cars</div>
        <div class="title">Find your next car here</div>
      </div>
    </div>
  </div>
</div>

<div class="market-status-section">

</div>
